<style>
  .phb#p1{ text-align:center; }
  .phb#p1:after{ display:none; }
</style>

<div style='margin-top:450px;'></div>

# {{ title }}

<div style='margin-top:25px'></div>
<div class='wide'>
##### For when you need to druid hard

### Current Source Materials Include:
**Narcosa** by Neoplastic Press

**Plants & Fungi of the Realms** by B. Simon Smith

**Magical Plants and Where to Find Them** by Jowgen on the Giant in the Playground Forums

**The Herbalist’s Guide** by Shawn Hately, 1997

**Swordfish Islands: A System Neutral Hexcrawl for Table Top RPGs** by Jacob Hurst

**Mercator’s Guide to Herbs** by Mercator

**Herbalism & Alchemy Fan-Made Supplement** by reddit user /u/dalagrath

**<div style='margin-top:10px'></div>**

With a lot of creative license and updating from me.

ursablindness.tumblr.com

reddit.com/user/NeurotoxicNihilist

**<div style='margin-top:10px'></div>**

If you want to support B. Simon Smith, his guide is only $5.95 for the PDF version and has some stuff I didn’t include as well as more lore, backstory, and more rule-based content that may be more appropriate for some hardcore players.

**<div style='margin-top:10px'></div>**

In addition, I really want to thank both Jowgen on the giantitp forums and Shawn Hately because I’ve been super inspired and name dropping the fantasy plants you guys collected in my campaigns for months.

**<div style='margin-top:10px'></div>**

I will be updating this document as I find more sources over coming months, so feel free to keep checking back. I feel like it may be a cool resource for anyone interested in plants or in world-building. So, hopefully you enjoy.

</div>

\page