{# ##############################################################
   # Plant list: by terrain
   ############################################################## #}
<div class='wide' style="text-align: center">

# Appendix A: Plants By Terrain
</div>

<div class='toc wide' style='column-count:3'>

{% for region, plants in plants_by_region.items() %}

- ### {{ region }}
  {% for plant in plants %}
  - [<span>{{ plant.page }}</span><span>{{ plant.name }} ({{ plant.rarity_symbol }})</span>](#p{{ plant.page }})  
    {% if (region == 'City' and plant.name == 'Haella') or
          (region == 'Forest' and plant.name == 'Gallowbrush') or
          (region == 'Forest' and plant.name == 'Ruby Blushrose') or
          (region == 'Jungle' and plant.name == 'Land Caltrops') or
          (region == 'Plain' and plant.name == 'Myrthis') or
          (region == 'Plain' and plant.name == 'Valerian') or
          (region == 'River' and plant.name == 'Colewort') or
          (region == 'Swamp' and plant.name == 'Krakaem Pods') or
          (region == 'Underdark' and plant.name == "Maiden's Hair") or
          (region == 'Underdark' and plant.name == 'Silver Tassel Toadstool')
    %}

- ### {{ region }} (continued)
    {% endif %}
    {% if (region == 'Forest' and plant.name == 'Ash') or
          (region == 'Jungle' and plant.name == 'Borneas') or
          (region == 'Plain' and plant.name == 'Elecampane') or
          (region == 'Mountain' and plant.name == 'Halfling Thistle') or
          (region == 'Underdark' and plant.name == 'Fennel Silk')
    %}

</div>

\pagebreakNum

<div class='toc wide' style='column-count:3'>

- ### {{ region }} (continued)
    {% endif %}
  {% endfor %}
{% endfor %}
</div>

\pagebreakNum
