{# ##############################################################
   # Plant list: entries
   ############################################################## #}
{% for page, plants in pages.items() %}

{% for plant in plants %}

{% if plant.name in ['Adamant Algae', 'Aldaka', 'All-Heale', 'Angakara Tree', 'Ardulan', 
                     'Basil', 'Bilberry', 'Blackcorn', 'Bloodroot', 'Brethil',
                     'Calacaza Bush', "Cat's Tail", 'Choking Cinder Fungus', 'Constrictor Vine', 'Covadish',
                     'Crisp Chondrus', 'Dathlil', "Deva's Tears", 'Dog Rose', 'Dratiddel', 'Dwarven Oak',
                     'Entriste', 'Fire Lichen', 'Fleshwort', 'Fuiyáru', 'Gefnul', 'Golden Coin Cactus',
                     'Gravefist', 'Gyumin Beans', "Hart's Crown", 'Helmthorne', 'Horseweed', 'Iraster', 'Karat',
                     'Kinuka Tree', 'Lakeleaf', 'Lissuin', 'Longinal Leaf', 'Maitake Mushroom', 'Marshmallow',
                     'Midnight Coneflower', 'Mordayn', 'Mugwort', 'Ortona', 'Peony', 'Powdered Desert Milk',
                     'Quare', 'Ratavasa Flowers', 'Ribwort Plantain', 'Rowan Tree', 'Scarlet Heart Mushrooms',
                     'Silverleaf', 'Sleepweed', 'Sparish Nut', 'Spiderwort', 'Stonestream', 'Sunberry Bush',
                     'Swordstalks', 'Tangara Kelp', 'Tephrosia', 'Thistledown', 'Troll Poppy', 'Waredan',
                     'Werasa', 'Wood Sorrel', 'Yarrow', 'Zalanthar']
%}

\columnbreak

{% endif %}
### {{ plant.name }}
*{% for region in plant.Regions %}[{{ region }}](#p{{ index_pages[region] }}){{ ", " if not loop.last }}{% endfor %}*
___
- **Rarity:** [{{ plant.Rarity }}](#p{{ index_pages[plant.Rarity] }})

{{ plant.Description }}

{{ plant['Extra info'] }}
{% endfor %}

\pagebreakNum

{% endfor %}
