{# ##############################################################
   # Plant list: by rarity
   ############################################################## #}
<div class='wide' style="text-align: center">

# Appendix B: Plants By Rarity
</div>

<div class='toc wide' style='column-count:3'>
{% for rarity, plants in plants_by_rarity.items() %}

- ### {{ rarity }}
  {% for plant in plants %}
  - [<span>{{ plant.page }}</span><span>{{ plant.name }} ({% for region in plant.Regions %}{{ region[:3] }}.{% if not loop.last %}, {% endif %}{% endfor%})</span>](#p{{ plant.page }})
    {% if (rarity == 'Very Common' and plant.name == 'Flame Clove') or
          (rarity == 'Very Common' and plant.name == 'Quare') or
          (rarity == 'Common' and plant.name == 'Laishaberries') or
          (rarity == 'Uncommon' and plant.name == 'Air Plant') or
          (rarity == 'Rare' and plant.name == 'Mandrake') or
          (rarity == 'Very Rare' and plant.name == 'Olvar')
    %}

- ### {{ rarity }} (continued)
    {% endif %}
    {% if (rarity == 'Common' and plant.name == 'Astir') or
          (rarity == 'Uncommon' and plant.name == 'Hydrathistle') or
          (rarity == 'Very Rare' and plant.name == 'Chromus Slime')
    %}
</div>

\pagebreakNum

<div class='toc wide' style='column-count:3'>

- ### {{ rarity }} (continued)
    {% endif %}
  {% endfor %}
{% endfor %}
</div>

\pagebreakNum
