<style>
  .phb#p1{ text-align:center; }
  .phb#p1:after{ display:none; }

  a {
    color: inherit !important;	/*toc specifically wants black text. This resets the headers*/
  }

  .spellList a,
  .phb p em a,
  .phb ul li a
  {
    text-decoration: none;
  }

  .toc {
    column-count:4;
  }

  .toc a {
    color: inherit !important;	/*toc specifically wants black text. This resets the headers*/
  }

  .toc li span:nth-child(2){	/*Allow dot leaders to fill remaining space but not overlap*/
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .toc li span:nth-child(2):after{
    font-family		: BookSanity;	/*Remove any header styles from dot leaders*/
    font-size   	: 0.317cm;
    font-weight		: normal;
    color			: black;
    content:
      " ........................................"
      "........................................."
      "........................................."; 
  }
  
  .toc li span:first-child{
    float: right;
    font-family		: BookSanity;	/*Remove any header styles from page numbers*/
    font-size   	: 0.317cm;
    font-weight		: normal;
    color			: black;
    margin-left		: 1px;	/*Leaves a small space between page numbers and dot leaders*/
  }
  
/*Special cases for headings*/    
  .toc li h3 span:nth-child(2):after{
  	content: " ";						/*Remove dot leaders on h3*/
  }
  
  .toc li h3 {
    margin-bottom: 4px !important;		/*Special spacing for h3*/
    margin-top: 10px !important;
    line-height: initial !important;	/*For some reason Multi-line h3 line spacing changed*/
  }
  
  .toc li h3 span:first-child{
  	line-height: 1.8em !important;  	/*Line page numbers up with Multi-line h3 better*/
  }
  
  .toc ul ul {
  	margin-left: 10px !important;		/*Original lists intented too much*/
  }
  
  .toc>ul>li {
    margin-bottom: initial !important;	/*margin for list items needs to be removed or 0*/
  }

</style>

<img
  src='https://img00.deviantart.net/9b00/i/2011/267/2/2/forest_by_superkusokao-d4asqef.png'
  style='position:absolute;top:0px;left:0px;width:100%'/>

<img
  src='http://i.imgur.com/YRAeIcj.png'
  style='position:absolute;left:320px;top:10px;width:20%'/>

<img
  src='https://i.imgur.com/6XZcAot.png'
  style='position:absolute;top:60px;left:10px;width:816px'/>


<img
  src='http://i.imgur.com/SGYtcP2.png'
  style='position:absolute;top:220px;left:85px;width:80%'/>

<img
  src='http://i.imgur.com/UNR8ilF.png'
  style='position:absolute;bottom:180px;left:0px;width:50%'/>

<img
  src='https://i.imgur.com/qp4gdn0.png'
  style='position:absolute;bottom:30px;left:80px;width:700px'/>


\pagebreakNum

<div style="text-align: center">
# Broderick's Compendium of
# Fantasy Plants
</div>

<div style='margin-top:140px'></div>

<div class="wide" style="text-align: center">
## Source Materials
**[Narcosa](http://www.drivethrurpg.com/product/137248/Narcosa)** by Neoplastic Press  
**[Plants & Fungi of the Realms](http://www.wargamevault.com/product/177331/Plants-and-Fungi-of-the-Realms)** by B. Simon Smith  
**[Magical Plants and Where to Find Them](http://www.giantitp.com/forums/showthread.php?479663-Magical-Plants-and-Where-to-Find-them)** by Jowgen on the Giant in the Playground Forums  
**[The Herbalist’s Guide](http://www.republicofnewhome.org/lair/games/herb5/herb5illo1.html#contents)** by Shawn Hately, 1997  
**[Swordfish Islands: A System Neutral Hexcrawl for Table Top RPGs](http://www.swordfishislands.com/search/label/plants)** by Jacob Hurst  
**[Mercator’s Guide to Herbs](https://www.adnddownloads.com/en/resource/mercators-guide-to-herbs)** by Mercator  
**[Herbalism & Alchemy Fan-Made Supplement](https://www.reddit.com/r/dndnext/comments/3w1log/5e_herbalism_alchemy_v12_updates_fanmade/)** by reddit user /u/dalagrath  

**<div style='margin-top:10px'></div>**

With a lot of creative license and updating from me.

[ursablindness.tumblr.com](http://ursablindness.tumblr.com)

</div>

**<div style='margin-top:75px'></div>**

> If you want to support B. Simon Smith, his guide is only $5.95 for the PDF version and has some stuff I didn’t include as well as more lore, backstory, and more rule-based content that may be more appropriate for some hardcore players.

>**<div style='margin-top:10px'></div>**

>In addition, I really want to thank both Jowgen on the giantitp forums and Shawn Hately because I’ve been super inspired and name dropping the fantasy plants you guys collected in my campaigns for months.

> **<div style='margin-top:10px'></div>**

> I will be updating this document as I find more sources over coming months, so feel free to keep checking back. I feel like it may be a cool resource for anyone interested in plants or in world-building. So, hopefully you enjoy.

```
```
**<div style='margin-top:75px'></div>**

<div class='descriptive'>
##### Editor's Note
Okay, editor might be a strong word, but I just wanted to pipe in and say that I took the Microsoft Word document provided by /u/neurotoxicnihlist, parsed it with Python, spit it out in JSON, and converted it to Markdown. You can see all this effort at the following links. Enjoy!  
**Code:** [Github](https://github.com/flamableconcrete/dnd-fantasy-plants)  
**Source:** [Homebrewery](http://homebrewery.naturalcrit.com/share/Hym27DBLM)  
**Template Assets:** [Imgur](https://imgur.com/a/0qUvZ)
</div>


#### Extras 
**Created by [/u/neurotoxicnihilist](https://www.reddit.com/user/neurotoxicnihilist).**  
**Edited by [/u/flamableconcrete](https://www.reddit.com/user/flamableconcrete).**  
**Current Version:** 1.5  
**Cover image:** Forest by [superkusokao](https://superkusokao.deviantart.com/)  

##### Artwork Credits

pg. 3: Forest Glade by [nele-diel](https://nele-diel.deviantart.com/)

\page

**<div style='margin-top:900px'></div>**

# Scavenging Rules
Magical plants can be found in many different terrains, but that doesn't mean that adventurers automatically can identify what is around them. The DM would select a table below based on the abundance (or lack thereof) of plants in the adventurer's envornment. A player who wishes to scavenge for plants may make a nature check. 10-14 is mildly successful, 15-19 is successful, 20+ is very successful. This would mean that for a mild success, roll on the table with disadvantage, for a success, roll on the table to see what kind of plant you get, and for very successful roll with advantage.

In most cases, 100 will also count as Very Rare, since Legendary plants should only be in one or two places around the world, so make sure the setting is right to get a Legendary plant.

##### Scavenging Plants: Easy
| d100 | Rarity of plant scavenged |
|:----:|:-------------|
| 1-29  | Very Common |
| 30-57 | Common |
| 58-79 | Uncommon |
| 80-91 | Rare |
| 92-99 | Very Rare |
| 100   | Very Rare or Legendary |

##### Scavenging Plants: Medium
| d100 | Rarity of plant scavenged |
|:----:|:-------------|
| 1-53  | Very Common |
| 54-79 | Common |
| 80-91 | Uncommon |
| 92-96 | Rare |
| 97-99 | Very Rare |
| 100   | Very Rare or Legendary |

##### Scavenging Plants: Hard
| d100 | Rarity of plant scavenged |
|:----:|:-------------|
| 1-55  | Very Common |
| 56-81 | Common |
| 82-93 | Uncommon |
| 94-98 | Rare |
| 99    | Very Rare |
| 100   | Very Rare or Legendary |

<img
  src='https://orig00.deviantart.net/aa83/f/2014/010/4/2/forest_glade_by_nele_diel-d71mcxd.jpg'
  style='position:absolute;top:0px;left:0px;width:816px' />

	'Make sure the background image below is at 816 pixels width'
<img
  src='https://i.imgur.com/qGRSC1J.png'
  style='position:absolute;top:0px;left:0px;width:916px' />

<div class='pageNumber auto'></div>
\page

<div class='spellList'>

{# ####################
   # Plant list: alphabetical
   #################### #}
{% for letter, plants in plants_by_letter.items() %}
##### {{ letter }}
{% for plant in plants %}
- [{{ plant.name }}](#p{{ plant.page }})
{% endfor %}
{% if letter in ['F', 'Q'] %}

</div>
<div class='pageNumber auto'></div>
\page
<div class='spellList'>
{% endif %}

{% endfor %}
<div class='pageNumber auto'></div>
</div>
\page

{# ####################
   # Plant list: entries
   #################### #}
{% for page, plants in pages.items() %}

{% for plant in plants %}

### {{ plant.name }}
*{% for region in plant.Regions %}[{{ region }}](#p79){{ ", " if not loop.last }}{% endfor %}*
___
- **Rarity:** [{{ plant.Rarity }}](#p84)

{{ plant.Description }}

{{ plant['Extra info'] }}
{% endfor %}
<div class='pageNumber auto'></div>
\page
{% endfor %}

{# ####################
   # Plant list: by terrain
   #################### #}
<div class='wide' style="text-align: center">
# Appendix A: Plants By Terrain
</div>

<div class='toc wide' style='column-count:3'>
{% for region, plants in plants_by_region.items() %}
- ### {{ region }}
  {% for plant in plants %}
  - [<span>{{ plant.page }}</span><span>{{ plant.name }} ({{ plant.rarity_symbol }})</span>](#p{{ plant.page }})
    {% if (plant.name == 'Marjoram' and region == 'City') or
          (plant.name == 'Belan' and region == 'Desert') or
          (plant.name == 'Kingsfruit' and region == 'Forest') or
          (plant.name == 'Wittlewort' and region == 'Forest') or
          (plant.name == 'Vipervine' and region == 'Jungle') or
          (plant.name == 'Ebur' and region == 'Plain') or
          (plant.name == 'Wild Fireclover' and region == 'Plain') or
          (plant.name == 'Mimetry Sprigs' and region == 'Mountain') or
          (plant.name == 'Pondstone Tree' and region == 'Swamp') or
          (plant.name == 'Dragontongue Mushrooms' and region == 'Underdark')
    %}
- ### {{ region }} (continued)
    {% endif %}
    {% if (plant.name == 'Blueleaf' and region == 'Forest') or
          (plant.name == 'Gulthias Tree' and region == 'Jungle') or
          (plant.name == 'Navew' and region == 'Plain') or
          (plant.name == 'Maruera' and region == 'River')
    %}
</div>
<div class='pageNumber auto'></div>
\page
<div class='toc wide' style='column-count:3'>
- ### {{ region }} (continued)
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
<div class='pageNumber auto'></div>
\page

{# ####################
   # Plant list: by rarity
   #################### #}
<div class='wide' style="text-align: center">
# Appendix B: Plants By Rarity
</div>

<div class='toc wide' style='column-count:3'>
{% for rarity, plants in plants_by_rarity.items() %}
- ### {{ rarity }}
  {% for plant in plants %}
  - [<span>{{ plant.page }}</span><span>{{ plant.name }} ({% for region in plant.Regions %}{{ region[:3] }}.{% if not loop.last %}, {% endif %}{% endfor%})</span>](#p{{ plant.page }})
    {% if (plant.name == 'Golden Crown' and rarity == 'Very Common') or
          (plant.name == 'Thir' and rarity == 'Very Common') or
          (plant.name == 'Spotty Dragonfire' and rarity == 'Common') or
          (plant.name == 'Djin Blossom' and rarity == 'Uncommon') or
          (plant.name == 'Gylvir' and rarity == 'Rare') or
          (plant.name == 'Lizuara' and rarity == 'Legendary')
    %}
- ### {{ rarity }} (continued)
    {% endif %}
    {% if (plant.name == 'Devilweed' and rarity == 'Common') or
          (plant.name == 'Sezarad' and rarity == 'Uncommon') or
          (plant.name == 'Thelmallow Flower' and rarity == 'Very Rare')
    %}
</div>
<div class='pageNumber auto'></div>
\page
<div class='toc wide' style='column-count:3'>
- ### {{ rarity }} (continued)
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
<div class='pageNumber auto'></div>
