{# ##############################################################
   # Plant list: tables
   ############################################################## #}
{% for region, rarity_dict in plants_for_table_entries.items() %}
    {% set region_loop = loop %}
    
<div class="wide" style="text-align: center">

# {{ region }}

</div>

{% for rarity, plant_info_dict in rarity_dict.items() %}
    {% set plants = plant_info_dict['plants'] %}
{% if (region == 'Arctic' and rarity == 'Rare') or
      (region == 'City' and rarity == 'Uncommon') or
      (region == 'Coastal' and rarity == 'Uncommon') or
      (region == 'Desert' and rarity == 'Rare') or
      (region == 'Forest' and rarity == 'Common') or
      (region == 'Forest' and rarity == 'Rare') or
      (region == 'Jungle' and rarity == 'Uncommon') or
      (region == 'Jungle' and rarity == 'Legendary') or
      (region == 'Plain' and rarity == 'Uncommon') or
      (region == 'Mountain' and rarity == 'Rare') or
      (region == 'Ocean' and rarity == 'Rare') or
      (region == 'River' and rarity == 'Rare') or
      (region == 'Swamp' and rarity == 'Rare') or
      (region == 'Underdark' and rarity == 'Rare')
%}
\columnbreak

{% elif (region == 'Forest' and rarity == 'Uncommon') or
        (region == 'Forest' and rarity == 'Very Rare') or
        (region == 'Jungle' and rarity == 'Rare') or
        (region == 'Plain' and rarity == 'Common') or
        (region == 'Plain' and rarity == 'Very Rare')
        %}
\pagebreakNum

{% endif %}
{% if plants | length > 0 %}
##### Table {{ region_loop.index + 1 }}-{{ loop.index }}: {{ region }} - {{ rarity }}
| d{{ plant_info_dict['die size'] }} | Plant |
|:---:|:---:|
{% for plant in plants %}
{% if region in plant.Regions %}
| {{ plant.table_die_entry }} | [{{ plant.name }}](#p{{ plant.page }}) {% if plant.Notes %}({{ plant.Notes }}){% endif %}|
{% endif %}
{% if plant.table_die_entry == 61 %}
\columnbreak

##### Table 8-1: Plain - Very Common (cont'd)
| d100 | Plant |
|:---:|:---:|
{% endif %}
{% endfor %}
    
{% endif %}
{% endfor %}

\pagebreakNum

{% endfor %}
