{# ##############################################################
   # Plant list: alphabetical
   ############################################################## #}
<div class='wide' style="text-align: center">

# Index
</div>

<div class='toc wide' style='column-count:3'>

{% for letter, plants in plants_by_letter.items() %}
#### {{ letter }}
{% for plant in plants %}
  - [<span>{{ plant.page }}</span><span>{{ plant.name }}</span>](#p{{ plant.page }})  
    {% if plant.name in ["Devil's Crown", 'Lichbriar', 'Spotty Dragonfire']
    %}
</div>

\pagebreakNum

<div class='toc wide' style='column-count:3'>

    {% endif %}
{% endfor %}

{% endfor %}
</div>
