{% for page in pages %}

{% for plant, value in page.items() %}

#### {{ plant }}
*{% for region in value.Regions %}{{ region }}{{ ", " if not loop.last }}{% endfor %}*
___
- **Rarity:** {{ value.Rarity }}

{{ value.Description }}

{% endfor %}
\page
{% endfor %}
